html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
body > .ember-view {
  height: 100%;
  width: 100%;
}

.esri-view {
  height: 100%;
  width: 100%;
}

button.add-layer {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
  padding: 5px;
  background-color: lightblue;
}
